<div class="content">

    <div class="sidebar pe-4 pb-3">
        <div class="container-navbar">
            <div class="d-flex align-items-center ms-4 mb-4"></div>
            <div class="navbar-nav w-100">
                <a routerLink="/dashboard" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i><span
                        class="nav-text">Dashboard</span></a>
                <a routerLink="/produtos" class="nav-item nav-link"><i class="fa fa-laptop me-2"></i><span
                        class="nav-text">Produtos</span></a>
                <a routerLink="/graficos" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i><span
                        class="nav-text">Gráficos</span></a>
            </div>
        </div>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>